/* App.css */
.canvas-container {
  width: 100vw;
  height: 100vh;
  /*margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; */
}

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* colorpicker */
input[type='color'] {
  -webkit-appearance: none !important;
  padding: 0;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}
